body {
    font-family: 'SF Pro Text', 'SF Pro Icons', 'Helvetica Neue', 'Helvetica',
      'Arial', sans-serif;
    max-width: 1280px;
    margin: 0 auto;  
    background-color: #fff;
    color:#000;
}

table {
    border: 3px solid #0a3257;
    width: 100%;
}

tbody {
    border-bottom: 3px solid #0a3257;
}

th {
    border-bottom: 1px solid #0a3257;
    border-right: 1px solid #0a3257;
}
td {
    border-right: 1px solid #0a3257;
}
